{% extends 'base.html.twig' %}

{% block title %}Text index{% endblock %}

{% block body %}
    <h1>Text index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for text in texts %}
            <tr>
                <td>{{ text.id }}</td>
                <td>{{ text.titre }}</td>
                <td>{{ text.description }}</td>
                <td>
                    <a href="{{ path('app_text_show', {'id': text.id}) }}">show</a>
                    <a href="{{ path('app_text_edit', {'id': text.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_text_new') }}">Create new</a>
{% endblock %}
